* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table, th, td {
    border: 1px solid;
}

#library {
    padding: 4px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 45%;
    top: 40%;
    max-width: fit-content;
    background-color: lightgrey;
}

.close {
    color: #aaa;
    float: right;
    font-weight: bold;
    padding: 8px;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    font-weight: bold;
}